.Footer {
    color: rgb(0 0 0 / 35%);
  }
  
  .Footer .host {
    text-align: right;
  }
  
  @media screen and (max-width: 767px) {
    .Footer {
      font-size: 14px;
      text-align: center;
      position: relative;
      bottom: 50px;
    }
  
    .Footer .host {
      text-align: center;
    }
  }