.WeatherForecast {
  text-align: center;
}
.WeatherForecast-day {
  margin-bottom: 10px;
}
.WeatherForecast-temp-min {
  opacity: 0.5;
}
  
  @media screen and (max-width: 767px) {
    .Forecast {
      position: relative;
      bottom: 70px;
    }
  }