.SearchForm button {
  color: rgb(236, 110, 76);
  border-color: rgb(236, 110, 76);
}

.SearchForm button:hover {
  background-color: rgb(236, 110, 76);
  border-color: rgb(236, 110, 76);
}

.SearchForm .search-instruction {
  font-size: 13px;
}

.Overview h1 {
  line-height: 1;
  font-size: 34px;
  margin-bottom: 4px;
}

.Overview img {
  position: relative;
  bottom: 10px;
  right: 40px;
}

.Overview strong {
  line-height: 1;
  font-size: 60px;
  position: relative;
  top: 4px;
}

.Overview .temp-units {
  font-size: 14px;
  position: relative;
  bottom: 28px;
  left: 5px;
}

.Overview .active {
  color: rgb(0 0 0);
  cursor: default;
}

.Overview .active:hover {
  color: rgb(0 0 0);
  text-decoration: none;
}

.Overview .weather-icon,
.Overview .current-temp {
  position: relative;
  left: 55px;
}

.Overview .feels-like-temp {
  position: relative;
  bottom: 6px;
}

@media screen and (max-width: 767px) {
  .Overview h1 {
    font-size: 20px;
  }

  .Overview img {
    position: relative;
    top: 3px;
    left: 130px;
  }

  .Overview .weather-icon {
    position: relative;
    left: -140px;
  }

  .Overview .current-temp {
    position: relative;
    bottom: 85px;
    left: 90px;
  }
}